{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %} Witaj{{block.super}} {% endblock %}

{% block content %}


      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron" >
        <h1>Strona z projektami</h1>

      </div>

{% endblock %}

<style>
    {% block style %}
  .jumbotron{
    color:green;
    }

    {% endblock %}
</style>

{% block sign %}

<!--<div class="row" >
    <div class="col-md-4 col-md-offset-8">
        <h2 style="text-align:left;">Zaloguj się:</h2>
     <form method="POST" action="" > {% csrf_token %}
        {{form}}
    <div align="center">
  <button type="button" class="btn btn-default" >Zaloguj</button>
        </div>
        </div>
    </div>
</form>-->


  {% endblock %}
