{% extends "base.html" %} {% load crispy_forms_tags %} {% block title %} Witaj{{block.super}} {% endblock %}
{% block jumbotron %}
{% endblock %}

{% block js %}

<!--<script>-->
        <!--$(document).on("click", ".alert", function(e) {-->
            <!--bootbox.alert("Hello world!", function() {-->
                <!--console.log("Alert Callback");-->
            <!--});-->
        <!--});-->
<!--</script>-->

{% endblock %}

<style>
    {
        % block style %
    }
    
    .navbar-static-top {
        margin-bottom: 0px !important;
    }
    
    {
        % endblock %
    }
</style>

{% block content %}

    <!--<p>Content here. <a class="alert" href=#>Alert!</a></p>-->



{% endblock %}