{% extends "base.html" %}
{% block title %} Twoje projekty{{block.super}} {% endblock %}
{% block js %}

<script>


    $(document).ready(function () {
        $("#value").html($("#myselect :selected").text());
        $("select").change(function () {
            var val = $(this).val();
            if (val == 'Wszystkie przedmioty') {
                $('.project').show();
            } else {
                $('.project').show();
                $('.project').not('#' + val).hide();
            }

        });

    });

    $(document).on("click", ".btn-primary", function() {

       var x = this.id;
       var y = this.name;
       function send(name,pref){
            var data = {'succes': x,'succes2': y, 'succes3': name, 'succes4': pref};
             $.post(URL, data, function(){});
       }

        bootbox.dialog({
            title: "Potwierdź zapis na projekt",
            message:'<h5>'+
            '<b style="font-size:17px">Przedmiot :</b> '+ this.value + '</br>'+ '</br>'+
            '<b style="font-size:17px">Nazwa Projektu :</b> '+ this.id + '</br>'+ '</br>'+
            '<b style="font-size:17px">Podaj liczność grupy :</b> ' +
            '<input type="text" name="fname" style="width:20px" id="group" class="pro" /required>'  + '</h5>'+
            '<b style="font-size:17px">Podaj preferencję projektu:</b> ' +
            '<input type="text" name="fname" style="width:20px" id="pref" class="pro" /required>',

            buttons: {
                    default: {
                        label: "Anuluj",
                        className: "btn-default",
                    },
                    success: {
                        label: "Potwierdź",
                        className: "btn-primary",
                        callback: function () {
                            if($('.pro').val() == '' ) {
                            alert('Uzupełnij wszystkie pola');
                            bootbox.dialog();
                            }
                            else {
                            var name = $('#group').val();
                            var pref = $('#pref').val();
                            send(name,pref);
                            $("#my-modal").modal();
                            }
                        }
                    }
            }
        });
    });

</script>
<script>
            var URL = "{% url 'projects' %}";

</script>


{% endblock %}

{% block css %}

{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="jumbotron" id="this">
    <form>
        <div class="container" >
            <select class="form-control" id="myselect">
                <option value="Wszystkie przedmioty">Wszystkie Przedmioty</option>
                {% for names in name %}
                <option value="{{names.id_przedmiotu}}">{{names.nazwa}}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>

<table align="center" class="table table-condensed" id="table" style="background-color:rgba(104, 89, 74, 0.61); color:white">
    <tr align=center valign=top id="sss s">
        <td>
            <h3>Nazwa Projektu</h3></td>
        <td>
            <h3>Przedmiot</h3></td>
        <td>
            <h3>Prowadzący</h3></td>
        <td>
            <h3>Wielkość Grupy</h3></td>
        <td></td>
    </tr>
    {% for lesson in lessons %}
    <tr align=center valign=top class="project" id="{{lesson.id_przedmiotu}}">

        <td>{{ lesson.nazwa }} </td>
        <td>{{ lesson.name }}</td>
        <td>{{ lesson.id_prowadzacego }}</td>
        <td>{{ lesson.liczba_miejsc}}</td>
        <td>
            <!--<form method="post">{% csrf_token %}-->
            <button type="submit" data-bb="custom_html" value="{{lesson.name}}" class="btn btn-primary btn-sm" id="{{lesson.nazwa}}" name="{{lesson.id_projektu}}">Zapisz się</button>
            <!--</form>-->
        </td>
    </tr>
    {% endfor %}
</table>

{% else %}
<div class="row">
    <div class="jumbotron">
        <h2 style=""> Zaloguj aby zapisać się na projekt </h2>
    </div>
</div>
{% endif %}



<div class="modal fade" id="my-modal">
  <div class="modal-dialog">
    <div class="modal-content" id="this-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Zapisałeś się na projekt</h4>
      </div>
      <div class="modal-body">
        <h5>Twoja rezerwacja projektu została wysłana do prowadzącego. </br> Oczekuj jego akceptacji.&hellip;</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}